<mat-toolbar color="primary">
  <button mat-button routerLink="/" >Message Board</button>
  <button mat-button routerLink="/messages" >Messages</button>
  <span style="flex: 1 1 auto"></span>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/login" >Login</button>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/register" >Register</button>
  <button *ngIf="auth.isAuthenticated" mat-button routerLink="/user" >Welcome {{auth.name}}</button>
  <button *ngIf="auth.isAuthenticated" mat-button (click)="auth.logout()" >Logout</button>
</mat-toolbar>
