<mat-toolbar color="primary">
  <button mat-button routerLink="/" >Message Board</button>
  <button mat-button routerLink="/messages" >Messages</button>
  <span style="flex: 1 1 auto"></span>
  <button *ngIf="!auth.userInfo.authenticated" mat-button routerLink="/login" >Login</button>
  <button *ngIf="auth.userInfo.authenticated" mat-button >Welcome {{auth.userInfo.profile.name}}</button>
  <button *ngIf="auth.userInfo.authenticated" mat-button routerLink="/logout" >Logout</button>
</mat-toolbar>
